._ {
  border: 1px solid #ffffff1a;
  border-radius: 4px;
  position: relative;
  overflow: hidden;
}

.header,
.main,
.footer {
  padding: 24px;
}

.docs {
  text-decoration: none;
}

@container (max-width: 720px) {
  .header {
    padding: 16px 8px;
  }

  .main {
    padding: 0 8px 8px;
  }

  .footer {
    display: none;
  }
}
