._ {
  display: flex;
}

.menu {
  padding: 8px 0;
}

.menu :global(.react-aria-MenuItem) {
  padding: 4px 16px 4px 32px;
  cursor: default;
}

.menu :global(.react-aria-MenuItem[data-focus-visible]) {
  outline: 1px solid #005fff;
}

.menu :global(.react-aria-MenuItem[data-selected]::before) {
  content: "•";
  display: inline-block;
  width: 16px;
  margin-left: -16px;
}

.menu :global(.react-aria-MenuItem[data-focused]) {
  background: rgba(255, 255, 255, 0.05);
}
