._ {
  display: flex;
  justify-content: space-between;
  gap: 32px;
}

.feature {
  flex-grow: 1;
  flex-basis: 0;
  min-width: 0;
  max-width: 280px;
}

.header {
  font-weight: 400;
  margin: 0 0 8px;
}

.description {
  font-family: var(--font-cofo-sans);
  margin: 0;
}

.icon {
  margin-bottom: 8px;
}

.icon :global(.str-icon) {
  background: linear-gradient(0deg, #ffffffb3, #ffffffb3),
    linear-gradient(180deg, #000000 0%, #00000033 100%) #ffffffb2;
}
