.video :global(.str-video__video) {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay {
  position: absolute;
  left: 0;
  bottom: 0;
  background: #0c0d0ea6;
  border-radius: 0 6px 0 0;
  padding: 4px;
}

.overlay_placeholder {
  position: static;
}

.nametag {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: space-between;
  padding: 4px 8px;
  min-height: 32px;
}

.speakingIndicator {
  margin-right: -8px;
}

.overlayVideo :global(.str-video__video) {
  margin-top: 4px;
  max-width: 200px;
  vertical-align: middle;
  border-radius: 4px;
}
