._ {
  display: flex;
  flex-direction: column;
  padding: 12px;
  gap: 16px;
}

@container (max-width: 720px) {
  ._ {
    position: static;
    width: 100%;
    max-width: none;
  }
}

.title {
  font-family: var(--font-atipla);
  font-size: 18px;
  font-weight: 400;
  margin: 0;
}

.tutorial {
  font-family: var(--font-cofo-sans);
}

.tutorial ol {
  margin: 0;
  padding-left: 16px;
}

.spacer {
  width: 100%;
  border: 0;
  border-bottom: 1px solid #ffffff1a;
}
