._ {
  gap: 8px;
}

.header {
  min-height: 40px;
}

._recorder .main {
  border-radius: 0;
}

.workarea {
  overflow: hidden;
  align-self: stretch;
  flex-grow: 1;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ffffff1a;
  border-radius: 4px;
}

.sidebar {
  align-self: stretch;
  width: 300px;
  flex-shrink: 0;
  margin-left: 10px;
}

.sidebar_open {
  animation: sidebarOpen 0.2s ease-out;
}

.sidebar_closing {
  animation: sidebarClose 0.12s linear forwards;
}

@keyframes sidebarOpen {
  from {
    opacity: 0;
    transform: translateX(16px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes sidebarClose {
  from {
    opacity: 1;
    transform: translateX(0);
  }

  to {
    opacity: 0;
    transform: translateX(32px);
  }
}

.backstage {
  padding: 24px;
}

.overlay {
  position: absolute;
  top: 7px;
  right: 7px;
  width: 344px;
  max-width: calc(100% - 16px);
}

.tutorial {
  position: absolute;
  bottom: 40px;
  left: 0;
  right: 0;
  text-align: center;
  padding: 24px;
  font-family: var(--font-cofo-sans);
}

.tutorial ol {
  margin: 0;
  padding-left: 16px;
}

.tutorial_rtmp {
  display: flex;
  text-align: left;
  justify-content: center;
  gap: 40px;
}

.tutorialTitle {
  font-family: var(--font-atipla);
  font-size: 18px;
  font-weight: 400;
  margin: 0 0 8px;
}

.tutorialSteps {
  flex-grow: 1;
  max-width: 500px;
}

.tutorialKeys {
  flex-grow: 1;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

@container (max-width: 720px) {
  .header {
    display: none;
  }

  .main {
    flex-direction: column;
    align-items: stretch;
    justify-content: start;
    gap: 8px;
  }

  .workarea {
    display: contents;
    border: 0;
  }

  .sidebar {
    display: none;
  }

  .backstage,
  .player,
  .tutorial {
    position: relative;
    flex-grow: 1;
    border: 1px solid #ffffff1a;
    border-radius: 4px;
    overflow: hidden;
  }

  .tutorial {
    position: static;
  }

  .tutorial_rtmp {
    flex-direction: column;
    gap: 8px;
  }

  .tutorialSteps,
  .tutorialKeys {
    max-width: none;
  }

  .player {
    min-height: 400px;
  }

  .overlay {
    position: static;
    width: auto;
    max-width: none;
    order: -1;
  }

  .footer {
    display: none;
  }
}

.title {
  font-family: var(--font-atipla);
  margin: 0;
}

.subtitle {
  font-size: 11px;
}
