._ {
  display: flex;
  flex-direction: column;
}

.header {
  font-size: 1em;
  font-weight: 400;
  margin: 0 0 8px;
}

.settings {
  display: flex;
  gap: 16px;
  margin-bottom: 16px;
}

.setting_resolution {
  flex-grow: 1;
}
