._ {
  display: flex;
  align-items: center;
}

.avatar {
  flex-shrink: 0;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background-color: var(--user-avatar-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.name {
  flex-grow: 1;
  min-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
}
