._ {
  display: flex;
  align-items: center;
}

.avatar {
  flex-shrink: 0;
  width: var(--str-chat__avatar-size, 40px);
  height: var(--str-chat__avatar-size, 40px);
  font-size: min(calc(var(--str-chat__avatar-size, 40px) * 0.5), 1em);
  color: #fff;
  margin-right: 8px;
  border-radius: 20px;
  background-color: var(--user-avatar-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.name {
  flex-grow: 1;
  min-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
}
