._ {
  font-family: var(--font-cofo-sans);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.participants {
  color: #ffffff80;
}

.participants_empty {
  visibility: hidden;
}
